* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}




main {
  width: 800px;
  height: 450px;

  margin: 0 auto;
  display: flex;
  border-radius: 10px;

  color: white;
  margin-top: 5%;
}

.column {
  width: 100%;
}

.column.one {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
}

.column.two {
  background-color: hsl(184, 100%, 22%);
  display: flex;
  flex-direction: column;
}

.column.three {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 15px;
  font-family: 'Lexend Deca', serif;
  font-weight: 100;
  margin: 30;
  display: flex;
  margin-bottom: 50px;
}

h2 {
  font-family: 'Big Shoulders Display', serif;
  font-size: 2.2rem;
  font-weight: 700;
}

.learnButton.one {
  width: 70%;
  height: 40px;
  background-color: white;
  color: hsl(31, 77%, 52%);
  font-family: 'Lexend Deca', 'serif';
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-size: 13px;
  border: 2px solid transparent
}

.learnButton.two {
  width: 70%;
  height: 40px;
  background-color: white;
  color: hsl(184, 100%, 22%);
  font-family: 'Lexend Deca', 'serif';
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-size: 13px;
  border: 2px solid transparent
}


.learnButton.three {
  width: 70%;
  height: 40px;
  background-color: white;
  color: hsl(179, 100%, 13%);
  font-family: 'Lexend Deca', 'serif';
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-size: 13px;
  border: 2px solid transparent;
}

.learnButton.one:hover, 
.learnButton.two:hover, 
.learnButton.three:hover {
  border:  2px solid white ;


  color: white;
  cursor: pointer;
}

.learnButton.one:hover {
  background:hsl(31, 77%, 52%);
}

.learnButton.two:hover {
  background: hsl(184, 100%, 22%);
}

.learnButton.three:hover {
  background: hsl(179, 100%, 13%);
}


.container {
  padding: 40px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

@media only screen and (max-width: 600px) {
  main {
    display: flex;
    width: 351px;
    height: 1400px;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: 40%;
  }
  

  .column {
    width: 100%;
    height: 33%;
  }

  .column.one {
  border-radius: 10px 10px 0 0px;
  }

  .column.three {
    border-radius: 0 0 10px 10px;
    }

  .text {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 15px;
  }
  .learnButton.one, 
  .learnButton.two, 
  .learnButton.three {
    height: 50px;
    font-size: 16px;
  }
  .attribution {
    text-align: center;
  }
} 